{
    "openapi" : "3.0.3",
    "info": {
        "title": "Post API",
        "description": "Post API",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://apitubesmppl.000webhostapp.com/"
        }
    ],
    "paths": {
        "/api/post/create.php" : {
            "post" : {
                "tags": ["Success"],
                "description": "Create new post",
                "requestBody" : {
                    "content": {
                        "multipart/form-data" : {
                            "schema" : {
                                "type": "object",
                                "required": [
                                    "image","caption"
                                ],
                                "properties": {
                                    "image" : {
                                        "type": "string",
                                        "format": "binary",
                                        "description": "Upload Image"
                                    },
                                    "caption" : {
                                        "type": "string"
                                    }     
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "400" : {
                        "description": "Validation error",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Validation error",
                                        "value" : {
                                            "erros" : {
                                                "image" : [
                                                    "The image photo field is required"
                                                ],
                                                "caption" : [
                                                    "The caption field is required"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200" : {
                        "description": "Succes create post",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "object",
                                            "properties": {
                                                "id" : {
                                                    "type": "number"
                                                },
                                                "user_id" : {
                                                    "type": "number"
                                                },
                                                "caption" : {
                                                    "type": "string"
                                                },
                                                "countlike" : {
                                                    "type": "number"
                                                },
                                                "countcomment" : {
                                                    "type": "number"
                                                },
                                                "urlimage" : {
                                                    "type": "string"
                                                },
                                                "created_at" : {
                                                    "type": "string"
                                                }
                                                ,
                                                "updated_at" : {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/post/update.php" : {
            "post" : {
                "tags": ["Success"],
                "description": "Update post",
                "requestBody" : {
                    "content": {
                        "multipart/form-data" : {
                            "schema" : {
                                "type": "object",
                                "required": [
                                    "id", "image","caption"
                                ],
                                "properties": {
                                    "id" : {
                                        "type": "number"
                                    },
                                    "image" : {
                                        "type": "string",
                                        "format": "binary",
                                        "description": "Upload Image"
                                    },
                                    "caption" : {
                                        "type": "string"
                                    }     
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "400" : {
                        "description": "Validation error",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Validation error",
                                        "value" : {
                                            "erros" : {
                                                "id" : [
                                                    "The id field is required"
                                                ],
                                                "message" : [
                                                    "Use caption and image photo fields to create your post"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200" : {
                        "description": "Succes update post",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "object",
                                            "properties": {
                                                "id" : {
                                                    "type": "number"
                                                },
                                                "user_id" : {
                                                    "type": "number"
                                                },
                                                "caption" : {
                                                    "type": "string"
                                                },
                                                "countlike" : {
                                                    "type": "number"
                                                },
                                                "countcomment" : {
                                                    "type": "number"
                                                },
                                                "urlimage" : {
                                                    "type": "string"
                                                },
                                                "created_at" : {
                                                    "type": "string"
                                                }
                                                ,
                                                "updated_at" : {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/post/current.php" : {
            "get" : {
                "tags": ["Success"],
                "description": "Get all posts created by a user",
                "parameters": [
                    {
                        "name" : "Authorization",
                        "in": "header"
                    }
                ],
                "responses": {
                    "200" : {
                        "description": "Get all posts created by a user",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "object",
                                            "properties": {
                                                "id" : {
                                                    "type": "number"
                                                },
                                                "user_id" : {
                                                    "type": "number"
                                                },
                                                "caption" : {
                                                    "type": "string"
                                                },
                                                "countlike" : {
                                                    "type": "number"
                                                },
                                                "countcomment" : {
                                                    "type": "number"
                                                },
                                                "urlimage" : {
                                                    "type": "string"
                                                },
                                                "created_at" : {
                                                    "type": "string"
                                                }
                                                ,
                                                "updated_at" : {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/post/delete.php" : {
            "delete" : {
                "tags": ["Success"],
                "description": "Delete post",
                "requestBody" : {
                    "content": {
                        "multipart/form-data" : {
                            "schema" : {
                                "type": "object",
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id" : {
                                        "type": "number"
                                    }     
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "400" : {
                        "description": "Validation error",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Validation error",
                                        "value" : {
                                            "erros" : {
                                                "id" : [
                                                    "The id field is required"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200" : {
                        "description": "Succes delete post",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "object",
                                            "properties": {
                                                "id" : {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },



        "/api/post/search.php?={id}" : {
            "get" : {
                "tags": ["default"],
                "description": "Get current user",
                "parameters": [
                    {
                        "name" : "Authorization",
                        "in": "header"
                    }
                ],
                "responses": {
                    "200" : {
                        "description": "default get current user",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "object",
                                            "properties": {
                                                "id" : {
                                                    "type": "number"
                                                },
                                                "username" : {
                                                    "type": "string"
                                                },
                                                "email" : {
                                                    "type": "string"
                                                },
                                                "name" : {
                                                    "type": "string"
                                                },
                                                "bio" : {
                                                    "type": "string"
                                                },
                                                "avatar" : {
                                                    "type": "string"
                                                },
                                                "verified" : {
                                                    "type": "integer"
                                                },
                                                "countpost" : {
                                                    "type": "integer"
                                                },
                                                "countarticle" : {
                                                    "type": "integer"
                                                },
                                                "following" : {
                                                    "type": "integer"
                                                },
                                                "followers" : {
                                                    "type": "integer"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/post/create-comment.php?={id}" : {
            "get" : {
                "description": "Get list following",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header"
                    }
                ],
                "responses": {
                    "200" : {
                        "description": "List following",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "array",
                                            "items" : {
                                                "type": "object",
                                                "properties": {
                                                    "id" : {
                                                        "type": "number"
                                                    },
                                                    "username" : {
                                                        "type": "string"
                                                    },
                                                    "bio" : {
                                                        "type": "string"
                                                    },
                                                    "countpost" : {
                                                        "type": "number"
                                                    },
                                                    "countarticles" : {
                                                        "type": "number"
                                                    },
                                                    "verified" : {
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        },
                                        "errors" : {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/post/like.php" : {
            "get" : {
                "description": "Get list followers",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header"
                    }
                ],
                "responses": {
                    "200" : {
                        "description": "List followers",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "array",
                                            "items" : {
                                                "type": "object",
                                                "properties": {
                                                    "id" : {
                                                        "type": "number"
                                                    },
                                                    "username" : {
                                                        "type": "string"
                                                    },
                                                    "bio" : {
                                                        "type": "string"
                                                    },
                                                    "countpost" : {
                                                        "type": "number"
                                                    },
                                                    "countarticles" : {
                                                        "type": "number"
                                                    },
                                                    "verified" : {
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        },
                                        "errors" : {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/post/delete-comment.php" : {
            "get" : {
                "description": "Get list following",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header"
                    }
                ],
                "responses": {
                    "200" : {
                        "description": "List following",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "array",
                                            "items" : {
                                                "type": "object",
                                                "properties": {
                                                    "id" : {
                                                        "type": "number"
                                                    },
                                                    "username" : {
                                                        "type": "string"
                                                    },
                                                    "bio" : {
                                                        "type": "string"
                                                    },
                                                    "countpost" : {
                                                        "type": "number"
                                                    },
                                                    "countarticles" : {
                                                        "type": "number"
                                                    },
                                                    "verified" : {
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        },
                                        "errors" : {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/post/unlike.php" : {
            "get" : {
                "description": "Get list followers",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header"
                    }
                ],
                "responses": {
                    "200" : {
                        "description": "List followers",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "array",
                                            "items" : {
                                                "type": "object",
                                                "properties": {
                                                    "id" : {
                                                        "type": "number"
                                                    },
                                                    "username" : {
                                                        "type": "string"
                                                    },
                                                    "bio" : {
                                                        "type": "string"
                                                    },
                                                    "countpost" : {
                                                        "type": "number"
                                                    },
                                                    "countarticles" : {
                                                        "type": "number"
                                                    },
                                                    "verified" : {
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        },
                                        "errors" : {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}