{
    "openapi" : "3.0.3",
    "info": {
        "title": "Post API",
        "description": "Post API",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://apitubesmppl.000webhostapp.com/"
        }
    ],
    "paths": {
        "/api/post/create.php" : {
            "post" : {
                "tags": ["target"],
                "description": "Create new post",
                "requestBody" : {
                    "content": {
                        "multipart/form-data" : {
                            "schema" : {
                                "type": "object",
                                "required": [
                                    "image","caption"
                                ],
                                "properties": {
                                    "image" : {
                                        "type": "string",
                                        "format": "binary",
                                        "description": "Upload Image"
                                    },
                                    "caption" : {
                                        "type": "string"
                                    }     
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "400" : {
                        "description": "Validation error",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "validationerror" : {
                                        "description": "Validation error",
                                        "value" : {
                                            "erros" : {
                                                "username" : [
                                                    "The username field is required"
                                                ],
                                                "email" : [
                                                    "The username field is required"
                                                ],
                                                "password" : [
                                                    "The username field is required"
                                                ],
                                                "name" : [
                                                    "The username field is required"
                                                ],
                                                "message" : [
                                                    "username or email already registered"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "201" : {
                        "description": "Succes register user",
                        "content": {
                            "application/json" : {
                                "examples": {
                                    "default" : {
                                        "description": "default register user",
                                        "value" : {
                                            "data" : {
                                                "id" : 1,
                                                "name" : "Daniel Antonio Ramirez",
                                                "username" : "Antonio",
                                                "email" : "daniel.antonioramirez@example.com"
                                            }
                                        }
                                    }
                                },
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "object",
                                            "properties": {
                                                "id" : {
                                                    "type": "number"
                                                },
                                                "username" : {
                                                    "type": "string"
                                                },
                                                "name" : {
                                                    "type": "string"
                                                }
                                                ,
                                                "email" : {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "errors" : {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/post/update.php" : {
            "post" : {
                "tags": ["target"],
                "description": "Login user",
                "requestBody" : {
                    "content": {
                        "application/json" : {
                            "examples": {
                                "Using a Username" : {
                                    "description": "Sign in using Username",
                                    "value" : {
                                        "username" : "Antonio",
                                        "password" : "secret"
                                    }
                                }
                            },
                            "schema" : {
                                "type": "object",
                                "properties": {
                                    "username" : {
                                        "description": "If you log in using your username",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "email" : {
                                        "description": "If you log in using your email",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "password" : {
                                        "type": "string",
                                        "nullable": false
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201" : {
                        "description": "default login",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "object",
                                            "properties": {
                                                "id" : {
                                                    "type": "number"
                                                },
                                                "username" : {
                                                    "type": "string"
                                                },
                                                "email" : {
                                                    "type": "string"
                                                },
                                                "name" : {
                                                    "type": "string"
                                                },
                                                "token" : {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/post/read.php" : {
            "get" : {
                "tags": ["target"],
                "description": "Get current user",
                "parameters": [
                    {
                        "name" : "Authorization",
                        "in": "header"
                    }
                ],
                "responses": {
                    "200" : {
                        "description": "default get current user",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "object",
                                            "properties": {
                                                "id" : {
                                                    "type": "number"
                                                },
                                                "username" : {
                                                    "type": "string"
                                                },
                                                "email" : {
                                                    "type": "string"
                                                },
                                                "name" : {
                                                    "type": "string"
                                                },
                                                "bio" : {
                                                    "type": "string"
                                                },
                                                "avatar" : {
                                                    "type": "string"
                                                },
                                                "verified" : {
                                                    "type": "integer"
                                                },
                                                "countpost" : {
                                                    "type": "integer"
                                                },
                                                "countarticle" : {
                                                    "type": "integer"
                                                },
                                                "following" : {
                                                    "type": "integer"
                                                },
                                                "followers" : {
                                                    "type": "integer"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/post/search.php?={id}" : {
            "get" : {
                "tags": ["default"],
                "description": "Get current user",
                "parameters": [
                    {
                        "name" : "Authorization",
                        "in": "header"
                    }
                ],
                "responses": {
                    "200" : {
                        "description": "default get current user",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "object",
                                            "properties": {
                                                "id" : {
                                                    "type": "number"
                                                },
                                                "username" : {
                                                    "type": "string"
                                                },
                                                "email" : {
                                                    "type": "string"
                                                },
                                                "name" : {
                                                    "type": "string"
                                                },
                                                "bio" : {
                                                    "type": "string"
                                                },
                                                "avatar" : {
                                                    "type": "string"
                                                },
                                                "verified" : {
                                                    "type": "integer"
                                                },
                                                "countpost" : {
                                                    "type": "integer"
                                                },
                                                "countarticle" : {
                                                    "type": "integer"
                                                },
                                                "following" : {
                                                    "type": "integer"
                                                },
                                                "followers" : {
                                                    "type": "integer"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/post/create-comment.php?={id}" : {
            "get" : {
                "description": "Get list following",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header"
                    }
                ],
                "responses": {
                    "200" : {
                        "description": "List following",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "array",
                                            "items" : {
                                                "type": "object",
                                                "properties": {
                                                    "id" : {
                                                        "type": "number"
                                                    },
                                                    "username" : {
                                                        "type": "string"
                                                    },
                                                    "bio" : {
                                                        "type": "string"
                                                    },
                                                    "countpost" : {
                                                        "type": "number"
                                                    },
                                                    "countarticles" : {
                                                        "type": "number"
                                                    },
                                                    "verified" : {
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        },
                                        "errors" : {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/post/like.php" : {
            "get" : {
                "description": "Get list followers",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header"
                    }
                ],
                "responses": {
                    "200" : {
                        "description": "List followers",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "array",
                                            "items" : {
                                                "type": "object",
                                                "properties": {
                                                    "id" : {
                                                        "type": "number"
                                                    },
                                                    "username" : {
                                                        "type": "string"
                                                    },
                                                    "bio" : {
                                                        "type": "string"
                                                    },
                                                    "countpost" : {
                                                        "type": "number"
                                                    },
                                                    "countarticles" : {
                                                        "type": "number"
                                                    },
                                                    "verified" : {
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        },
                                        "errors" : {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/post/delete-comment.php" : {
            "get" : {
                "description": "Get list following",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header"
                    }
                ],
                "responses": {
                    "200" : {
                        "description": "List following",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "array",
                                            "items" : {
                                                "type": "object",
                                                "properties": {
                                                    "id" : {
                                                        "type": "number"
                                                    },
                                                    "username" : {
                                                        "type": "string"
                                                    },
                                                    "bio" : {
                                                        "type": "string"
                                                    },
                                                    "countpost" : {
                                                        "type": "number"
                                                    },
                                                    "countarticles" : {
                                                        "type": "number"
                                                    },
                                                    "verified" : {
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        },
                                        "errors" : {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/post/unlike.php" : {
            "get" : {
                "description": "Get list followers",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header"
                    }
                ],
                "responses": {
                    "200" : {
                        "description": "List followers",
                        "content": {
                            "application/json" : {
                                "schema" : {
                                    "type": "object",
                                    "properties": {
                                        "data" : {
                                            "type": "array",
                                            "items" : {
                                                "type": "object",
                                                "properties": {
                                                    "id" : {
                                                        "type": "number"
                                                    },
                                                    "username" : {
                                                        "type": "string"
                                                    },
                                                    "bio" : {
                                                        "type": "string"
                                                    },
                                                    "countpost" : {
                                                        "type": "number"
                                                    },
                                                    "countarticles" : {
                                                        "type": "number"
                                                    },
                                                    "verified" : {
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        },
                                        "errors" : {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}